header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 53px;
    background-color: $main-color;

    ul {
        display: flex;
        justify-content: flex-end;
    }

    li {
        margin: 0 34px;
        color: $text-color;
    }
}