.cards {
    display: flex;
    background-color: $secundary-color;
    flex-wrap: wrap;
    width: 89%;
    margin: 0 auto;
    margin-top: 83px;
    justify-content: space-around;


    @media(max-width: 1036px) {
        flex-direction: column;
        align-items: center;
        display: flex;
        }
    

}