$main-color: #fcfcfd;
$swatch_2: #69c9fc;
$secundary-color: #d6d6d8;
$selector-color: #68b4e4;
$main-font-color: #64404a;
$secondary-font-color: #9e8283;
$swatch_7: #abd0d7;
$text-color: #b4be97;

$main-font:'Roboto', sans-serif;