@import 'abstract/variables';

@import 'components/list';
@import 'components/cards';

@import 'layout/header';
@import 'layout/main';
@import 'layout/section';
@import 'layout/footer';

body {
    font-family: $main-font;
    background-color: $secundary-color;
    margin: 0;
}